{% extends 'panel/base.html' %}


{% block content %}

<div class="pb-3 mb-3 d-flex align-items-center justify-content-end">
    <a href="{% url 'panel:github_list' %} " class='btn btn-sm btn-primary'> <span class='fa fa-arrow-left'></span> Leave</a>
</div>
    

<form class="custom-deploy-form mb-4" method='post'>
    {% csrf_token %}

    {% include 'panel/similar_github_add.html' %}

    <div class="mb-3">
        <label class="d-block" for="#input-p3">Password *</label>
        <small class="d-block"><strong>NOTE</strong>: <i>Currently this should be your PAT (Personal Access token from github). <a href="https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/creating-a-personal-access-token" target="_blank">Creating a personal access token.</a></i></small>
        <small class="d-block mb-2"><i>It will be better if your personal access token will live for a long time</i></small>
        <input type="password" name="password" id="input-p3" class="form-control" placeholder="Provide your current password to update" value="{{ form.password.value }}">
        <div class="form-errors">
            
            {% for error in form.password.errors %}
                <small>{{ error }}</small>
            {% endfor %}
                
        </div>
    </div>

    <button type="submit" class="btn btn-primary px-3 mt-5 fw-bold">Add Account</button>

</form>

    
{% endblock content %}