{% extends 'panel/base.html' %}


{% block content %}
    <div class="card">
        <div class="card-header py-3 d-flex align-items-center justify-content-between">
            <h5 class="mini_tabs_head">Domains List</h5>
            <a href="{% url 'panel:domain-list-update' %}" class='btn btn-sm btn-secondary reload-btn'> <span class='fa fa-refresh'></span> Reload</a>
        </div>
    </div>

    <div class="card-body domain-name-card-body manage-link-a">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Domain name</th>
                    <th scope="col">SOA Email</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

                
                {% if list_domains_processed %}

                    {% for domain in list_domains_processed %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td><a href="{% url 'panel:domain-detail' domain.domain_id %}" class="text-decoration-none">{{ domain.domain }}</a></td>
                            <td>{{ domain.soa_email }}</td>
                            <td><span class="badge bg-{{ domain.status_tag }}">{{ domain.status }}</span></td>
                            <td><a href="{% url 'panel:domain-detail' domain.domain_id %}" class="btn btn-sm btn-primary">Manage</a></td>
                        </tr>
                    {% endfor %}
                    
                {% else %}

                    <h2>No domains available</h2>
                    
                {% endif %}
                    
                
            </tbody>
        </table>
    </div>
{% endblock content %}