<div class="ms-auto col-lg-3 col-md-3 col-sm-12 my-1">
    <div class="side_mini_bar card">
        
        <div class="card-header py-3">
            <h6 class="mb-0">General Information</h6>
        </div>

        <ul>
            <li>
                <p class="head">Current User</p>
                <p class="content">{{ user.username }}</p>
            </li>

            <li>
                <p class="head">Ip Address</p>
                <p class="content">Username</p>
            </li>

            <li>
                <p class="head">Home Directory</p>
                <p class="content">/home/team/</p>
            </li>

            <li>
                <p class="head">Last Login IP Address</p>
                <p class="content">Username</p>
            </li>

            <li>
                <p class="head">Server name</p>
                <p class="content">Ubuntu</p>
            </li>

            <li>
                <p class="head">Apache Version</p>
                <p class="content">Username</p>
            </li>

            <li>
                <p class="head">SQL Version</p>
                <p class="content">Username</p>
            </li>

            <li>
                <p class="head">PHP Version</p>
                <p class="content">Username</p>
            </li>


        </ul>

    </div>
</div>