{% extends 'panel/base.html' %}


{% block content %}
<div class="log_tab">

    <div class="head">
        <p>Last checked: {{ website.last_checked }}</p>
        <div class="status_reload">
            <div class="top">
                <div class="stat">
                    <span class="icon {{ website.get_last_status }}"></span>
                    <span class="detail">{{ website.get_last_status.capitalize }}</span>
                </div>
                <a href="{% url 'panel:recheck_website' website.conf_filename %}" class="btn btn-sm btn-primary">Recheck</a>
            </div>
        </div>
    </div>

    <div class="table-box my-5">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Link</th>
                    <th scope="col">Last Checked</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>

                
                {% for web in website.websiteurl_set.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><a href="http://{{ web.url }}" target="_blank">{{ web.url }}</a></td>
                        <td>{{ web.last_checked }}</td>
                        <td>
                            <div class="stat">
                                <span class="icon {{ web.get_last_status }}"></span>
                                <span class="detail">{{ web.get_last_status.capitalize }}</span>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                    
                
            </tbody>
        </table>

    </div>

    <form class="filter_box mt-5" method='post' id='log_form' action="{% url 'panel:get_log_website' website.conf_filename %}">

        {% csrf_token %}
        <div class="mb-3">
            <label for="log_type">Log type</label>
            <select name="log_type" class="form-select ajax-input" id="log_type">
                <option value="access">Access</option>
                <option value="error">Error</option>
            </select>
            <div class="form-errors" for="log_type"></div>
        </div>

        <div class="mb-3">
            <label for="from_date">From</label>
            <input name="from_date" type="date" class="form-control ajax-input" id="from_date"/>
            <div class="form-errors" for="from_date"></div>
        </div>

        <div class="mb-3">
            <label for="to_date">To</label>
            <input name="to_date" type="date" class="form-control ajax-input" id="to_date"/>
            <div class="form-errors" for="to_date"></div>
        </div>

        <button type='submit' class="btn btn-primary btn-sm">Run</button>

    </form>


    <div class="log_sheet">
        <p></p>
    </div>

</div>
{% endblock content %}