asgiref==3.5.0
async-timeout==4.0.2
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
cryptography==36.0.1
Deprecated==1.2.13
Django==4.0.3
django-crontab==0.7.1
hiredis==2.0.0
idna==3.3
packaging==21.3
pycparser==2.21
pyparsing==3.0.8
python-decouple==3.6
redis==4.2.2
requests==2.27.1
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.9
wrapt==1.14.0
